/*-------------------------------  Mixed style  -------------------------------------*/
h1, #top-paragraph, h3, .footer-link, .btn {
    color: #834013;
}
/*-------------------------------  Tag style  ---------------------------------------*/
body {
    background-color: #84e6e2;
    margin: 0px;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
}
h1 {
    margin: 0 auto 0 auto;
    padding: 4px;
    font-size: 5.625rem;
}
p {
    margin: 0px;
    padding: 4px;
    font-family: 'Montserrat', sans-serif;
}
hr {
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-top: 10px dotted grey;
    width: 10%;
}
/*-------------------------------  Class style  ---------------------------------------*/
.copyright {
    font-size: 1.2vw;
    color: antiquewhite;
}
.top-container {
    background-color: #24a19c;
    position: relative;
    padding-top: 100px;
    padding-bottom: 300px;
}
.middle-container {
    background-color: #4ab4b1;
}
.middle-container, .bottom-container {
    font-family: 'Damion', cursive;
}
.bottom-container {
    background-color: #24a19c;
    padding-top: 30px;
    padding-bottom: 30px;
}
.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}
.skill-png1 {
    width: 30%;
    float: left;
    padding-right: 30px;
}
.skill-png2 {
    width: 30%;
    float: right;
    padding-right: 30px;
}
.btn {
    box-shadow:inset 0px 1px 0px 0px #128996;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1aa19f), color-stop(1, #207391) );
    background-color:#31e0dd;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
	text-indent:0px;
	border:1px solid #26a3ac;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:25px;
	padding-right:25px;
	text-decoration:none;
	text-align:center;
    text-shadow:1px 1px 0px #2b9aac;
    margin-bottom: 50px;
    margin-top: 50px;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #207391), color-stop(1, #1aa19f) );
	background:-moz-linear-gradient( center top, #207391 5%, #1aa19f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#207391', endColorstr='#1aa19f');
	background-color:#207391;
}
.btn:active {
	position:relative;
	top:1px;
}
.footer-link {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-link:hover {
    color: #b4880e;
}
.skill-row {
    margin: 50px auto 50px auto;
    width: 80%;
    text-align: left;
    line-height: 1.5;
}
/*-------------------------------  ID style  -----------------------------------------*/
#senthil_pic {
    height: 250px;
    position: relative;
    top: 25px;
}
#mountain {
    position: absolute;
    top: 230px;
    left: 300px;
}
#top-paragraph {
    font-family: 'Damion', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: normal;
}