div  {
    text-align: center;
    font-size: 50px;
}
table {
    border: 3px solid blue;
    border-collapse: collapse;
}
td, th {
    border: 3px solid black;
    padding: 10px;
}
.header {
    font-size: 30px;
    background-color: grey;
}
button {
    font-size: 40px;
    background-color: red;
}
button:hover {
    background-color: green;
}
#container {
    background-color: yellow;
    display: grid;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: auto auto auto;
}
@media (min-width: 600px) {
    body {
        background-color: orange;
    }
}
#container > div {
    background-color: skyblue;
    margin: 10px;
    padding: 5px;
}