h1, h3 {
    color: #66bfbf;
}

td img {
    width: 200px;
}

body {
  background-color: #4b5d67;
  color: black;
}

p, thead, .center {
    text-align: center;
}

th {
  font-weight: bold;
}

hr {
  border-color: #66bfbf;;
  width: 7%;
  border-width: 5px;
  border-style: dotted none none;
}

.buttons {
  width: 90px;
  background-color: #66bfbf;;
}

div  {
    text-align: center;
    font-size: 50px;
}
.header {
    font-size: 30px;
    background-color: grey;
}

button:hover {
    background-color: #b4f3f3;
}
#container {
    background-color: yellow;
    display: grid;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: auto auto auto;
}
#container > div {
    background-color: skyblue;
    margin: 10px;
    padding: 5px;
}